/*----------------------ELEMENTS----------------------*/

html body {
    background-color: rgba(0,0,0, 1.0);
}

html{
    font-family: "Poppins";
}

a{
    text-decoration: none;
}

/*----------------------PARAMETERS----------------------*/

.flexRow, .flexColumn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexColumn{
  flex-direction: column;
}

.flexRow_spaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow_top{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.flexRow_left{
  display: flex;
  align-items: center;
  justify-content: left;
}

.flexRow_right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fullWidth{
	width: 100%;
}

.width80{
  width: 80%;
  margin: auto;
  text-align: center;
}

.fullHeight{
	height: 100%;
}

/*body {
  padding: 32px 96px;
  text-align: center;
}*/

/*----------------------SECTIONS STYLES----------------------*/

.sectionTitle{
  font-family: "Open Sans";
  font-size: 40px;
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
}

.sectionSubtitle{
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  font-weight: 100;
  margin-bottom: 40px;
}


div.section,section{
	background: #0B0B0C;
}

.siteColor{
  color:#A5D8FF;
}

/*----------------------NAVBAR STYLES----------------------*/

.topnav{
	justify-content: space-between;
	font-size: 18px;
	height: 70px;
	width: 100%;
	background-color: #0B0B0C;
}

.topnav_item {
	margin: 0 32px 0 0;
	color: white;
	text-align: right;
}

.topnav_left{
  float: left;
}

.name{
    color: white;
    text-align: left;
    float: left;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    padding-left: 40px;
  }

  .sections{
    /*padding-right: 120px;*/
    text-align: right;
    font-family: Poppins;
    font-weight: 200;
    font-size: 18px;
    float: right;
  }

  .topnav a:hover {
    color: #A5D8FF;
    text-decoration: none;
    /*border-bottom: 1px solid rgb(190, 190, 190);
    border-bottom-width: thin ;*/
  }

  .topnav_item.active {
    border-bottom: 1px solid white;
  }

  #navbar {
    position: fixed;  /*Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 2;
    /*padding-right: 50px;*/
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /*----------------------TOPNAV WHITE----------------------*/


  .topnav_white{
    justify-content: space-between;
    font-size: 18px;
    height: 70px;
    width: 100%;
    background-color: white;
  }
  
  .topnav_item_white {
    margin: 0 32px 0 0;
    color: #0B0B0C;
    text-align: right;
  }
  
  .topnav_left{
    float: left;
  }
  
  .name_white{
      color: #0B0B0C;
      text-align: left;
      float: left;
      padding: 14px 0px;
      text-decoration: none;
      font-size: 32px;
      font-family: 'Poppins';
      font-weight: 200;
      font-style: normal;
      letter-spacing: 0em;
      text-transform: none;
      line-height: 1.4em;
      padding-left: 40px;
    }
  
    .topnav_white a:hover {
      color: #A5D8FF;
      text-decoration: none;
      /*border-bottom: 1px solid rgb(190, 190, 190);
      border-bottom-width: thin ;*/
    }
  
    .topnav_item_white.active {
      border-bottom: 1px solid #0B0B0C;
    }

/*----------------------FOOTER STYLES----------------------*/

.contact {
  height: 8vh; 
  background-color: #0B0B0C;
}

#resume{
	width: 30px;
}
#mail{
	width: 35px;
}

.bottomNav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
  font-weight: 300;
  font-family: Poppins;
	height: 60px;
	width: 100%;
	z-index: 99;
	background-color: white;
}

.footer{
	font-size: 12px;
  color: darkgray;
  background-color: #0B0B0C;
}

/* ------------------ FOOTER --------------------------*/
.contact {
  height: 8vh; 
}
.contact__icon {
width: 30px;
margin: 0px 10px; 
}

.contact__icon a:hover {
  color: #A5D8FF;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .projectsRow {
 flex-direction: column; 
} 
}

/* ------------------ FOOTER - WHITE --------------------------*/
.contact_white {
  height: 8vh; 
  background-color: white;
}

.footer_white{
	font-size: 12px;
  color: darkgrey;
  background-color: white;
}

