html body {
    background-color: rgba(0,0,0, 1.0);

}

body, html{
    /* margin-top: 100px;
    margin-bottom: 100px; */
    margin-right: 5px;
    margin-left: 5px;
/*   background-color: rgb(15, 15, 15);*/
}


h1{
    color:white;
        font-size: 50px;
        font-family: "Open Sans", sans-serif;
        margin: 75px 0;
}

h2{
    color:white;
    font-size: 57px !important;
    font-weight: 90;
    font-family: "Open Sans", sans-serif;
    margin: 90px 0;
    padding-left: 20px;
    padding-right: 300px;
}


h4{
    color:white;
    font-size: 40px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
    margin: 90px 0;
}

#who{
    color:white;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}


.intro{
    background-color: black;
    margin: 180px 0 90px 0;
}

.about{
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    margin: 40px 0;

}

.flex-containeer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

img{
    /* widows: 4500; height:300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 400px;
    object-fit: cover;
}


/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    overflow: hidden;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  
  /* Style the links inside the navigation bar */
  .topnav a{
    /* float: right; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: thin;
    letter-spacing: .8px;
    text-transform: none;
    line-height: 1.8em;
  }

  .name a{
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 330;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
  }
  
  .topnav a:hover {
    color: rgb(190, 190, 190);
    text-decoration: none;
    border-bottom: 1px solid rgb(190, 190, 190);
    border-bottom-width: thin ;
  }
  
  .topnav a.active {
    border-bottom: 1px solid white;
  }

  .abitofmywork{
    color: white;
    margin: 60px 0 -60px -40px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 250;
    font-size: 40px;
}

  #p1 #p2 #p3 #p4{
    font-family:'Poppins', sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 17px;
    line-height: 1.8;
  }
 
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
 }

.col {
    flex: 50%;
    padding: 0 4px;
    margin: 20px 0;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
  } 

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    /* margin: 0 15px; */
  }
  
  .col:hover .overlay {
    opacity: .5;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.container .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content {
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: .6;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 1em;
    font-family: 'Open Sans' sans-serif;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-top{
    top: 20%;
  }
  
  .fadeIn-left{
    left: 20%;
  }
  
  .fadeIn-right{
    left: 80%;
  }

  .about2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 248, 238);
    color: black;
    margin: 90px 0;
    padding: 100px 0;
    font-size: 42px;
    font-family: 'Poppins' sans-serif;
  }

  .button {
    background-color: rgb(40, 214, 95);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 40px 0;
    border-radius: 50px;
  }

  .footer{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      overflow: hidden;
      padding: 20px;
      background-color: black;     
  }

  #link1, #link2{
    color: white !important;
    font-weight: 100;
    font-family: 'Poppins' sans-serif;
  }

