html{
  scroll-behavior: smooth;
}

/*---------------------------------------------------------------------------------------------*/
/*------------------------------------------HOME PAGE------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*----------------------INTRO----------------------*/
.intro{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.typing{
    color:white;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding-bottom: 50px;
    padding-left: 40px;
    text-align: left;
}

.arrowContainer {
	height: 25px;
	padding: 20px;
	text-align: center;
}
.arrowContainer:hover{
	cursor: pointer;
}
.arrowContent {
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
}

/* Arrow & Hover Animation */
#more-arrows {
	width: 75px;
	height: 65px;
}
#more-arrows:hover polygon {
	fill: #A5D8FF;
	transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
	transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
	transform: translateY(18px);
}
polygon {
	fill: lightgray;
	transition: all 0.2s ease-out;
}
polygon.arrow-middle {
	opacity: 0.75;
}
polygon.arrow-top {
	opacity: 0.5;
}


/*----------------------SOME OF MY WORK----------------------*/
.projects{
  padding: 56px 0px;
}

.projectsRow{
  	width: 80%; 
}

.projectsRow__item{
	margin: 20px;
	position: relative; 
}
.projectsRow__item:hover .projectTitle {
	visibility: visible;
  opacity: .3; 
  background-color: #0B0B0C;
}

.projectTitle {
	font-weight: bold;
	font-size: 3vw;
	text-align: center;
	font-family: "Source Sans Pro";
	height: 100%;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s; 
	color: white;
	background: rgba(255, 255, 255, 0.7);
}


/*-------------------------------------------------------------------------------------------------*/
/*------------------------------------------PROJECTS PAGE------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

/*----------------------PROJECTS GRID----------------------*/
.projectsRowWide{
  width: 90%; 
}

.head_Subhead{
  padding-top: 7%;
  text-align: center;
}


/*----------------------------------------------------------------------------------------------*/
/*------------------------------------------ABOUT PAGE------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/* -----------------BIO----------------- */
.about_bio{
  margin: auto;
  padding-top: 10%;
}

.description{
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  font-weight: 200;
}

@media only screen and (max-width: 1000px) {
  .bioColumn {
    display: block;
    width: 100%;
  }
}

.leftAlign{
  text-align: left;
}

/* -----------------PROCESS----------------- */
.about_bio{
  margin: auto;
}

.aboutRowWide{
  width: 90%; 
  margin: auto;
}

.aboutRow{
  width: 80%; 
  margin: auto;
}

.aboutRowNarrow{
  width: 75%;
  margin: auto;
}

.aboutRow__item{
margin: 20px;
position: relative; 
text-align: center;
}

.aboutColumn__item{
  margin: 10px;
  position: relative; 
  text-align: center;
  vertical-align: top;
  }

.aboutTitle {
font-weight: bold;
font-size: 3vw;
text-align: center;
font-family: "Source Sans Pro";
height: 100%;
position: absolute;
visibility: hidden;
opacity: 0;
transition: opacity .2s, visibility .2s; 
color: white;
background: rgba(255, 255, 255, 0.7);
}

.description_2{
  font-family: "Poppins";
  font-size: 16px;
  color: white;
  font-weight: 200;
  margin: auto;
}

.process_image{
  width: 50vh;
  height: 50vh;
}

.width85{
  width:85%;
  margin: auto;
}